.stSlider [data-baseweb="slider"] > div > div > div > div { background-color: #5A189A !important; }
.stSlider [data-baseweb="slider"] button { background-color: #5A189A !important; border-color: #5A189A !important; }
button[kind="primary"] { background-color: #4A127A !important; border-color: #4A127A !important; color: white !important; }
button[kind="primary"]:hover { background-color: #5A189A !important; border-color: #5A189A !important; }
.stRadio div[role="radiogroup"] input[type="radio"]:checked + div { background-color: #5A189A !important; }
.stTabs [data-baseweb="tab-list"] button[aria-selected="true"] { color: #5A189A !important; border-bottom-color: #5A189A !important; }
